body {
    background-color: orange;
}

h1 {
  color: black;
  text-align: center;
}
#menuToggle {
  display: none;
  font-size: 1.5em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#menuNav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

@media (max-width: 600px) {
  #menuToggle {
      display: block;
  }
  
  #menuNav {
      display: none;
  }
  
  #menuNav.active {
      display: block;
  }
}

